body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #f6a192 0%, #357ebd 100%); /* w3c */ 
}

button {
  cursor: pointer;
}




/*
background: linear-gradient(89deg, #f6a192 0%, #357ebd 100%); /* w3c */ 


background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);